.contact__container {
  padding: 0 30px 59px;
  position: relative;
}

@media screen and (min-width: 960px) {
  .contact__container {
    padding: 0;
    background-color: var(--bg-primary);
    border-radius: 20px 0px 0px 20px;
    padding: 100px 120px 91px 99px;
  }
}
