.footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

@media screen and (min-width: 960px) {
  .footer__links {
    gap: 46px;
  }
}
