.form__input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--input);
  border-radius: 8px;
  padding: 0 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 960px) {
  .form__input {
    height: 60px;
    border-radius: 15px;
  }
}
