.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 25px !important;
  width: 69% !important;
}

.pagination .swiper-pagination-bullet{
  width: 3px;
  height: 3px;
  background-color: var(--grey-primary);
  border-radius: 50%;
}

.pagination .swiper-pagination-bullet-active{
  background-color: var(--black-primary);
  width: 5px;
  height: 5px;
}

@media screen and (min-width: 960px) {
  .pagination {
    bottom: 164px !important;
    width: 98% !important;
    gap: 2px;
  }

  .pagination .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
  }

  .pagination .swiper-pagination-bullet-active{
    width: 10px;
    height: 10px;
  }
}
