@media screen and (min-width: 960px) {
  .contact__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: translateY(-27%);
        -ms-transform: translateY(-27%);
            transform: translateY(-27%);
  }
}

@media screen and (min-width: 1280px) {
  .contact__wrapper {
    -webkit-transform: translateY(-41%);
        -ms-transform: translateY(-41%);
            transform: translateY(-41%);
  }
}
